figure{
	width:200px;
	margin: auto;
	border:1px solid #777;
	padding:8px;
	box-sizing: border-box;
	background-color: #fff;
}
figure img{
	width:100%;
}
figure figcaption{
	text-align: center;
	padding:8px 4px;
}
.gallery{
	display:flex;
	width:900px;
	margin: auto;
	border:2px dashed gray;
	justify-content:space-between;
	flex-wrap:wrap;
}
*{
	box-sizing: border-box;
}
body{
	background-color: #dedede;
}
h1{
	color:#55576F;
	border:solid #55576F;
	padding:10px;
} 